<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5409 Cloud Computing - Term Project</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
            text-align: center; /* Center text within the container */
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 20px;
        }

        .file-input {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>CSCI 5409 - Term Project</h2>
        <p>Name: Boon. U (B00934675)</p>
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <form action="/upload_s3" method="post" enctype="multipart/form-data">
                    <p class="card-text">Choose a file to reWise and generate a Cheat sheet</p>
                    <label for="file" class="btn btn-primary btn-block">
                        Browse
                        <input type="file" name="file" id="file" class="file-input">
                    </label>
                    <hr>
                    <input type="submit" name="upload" value="Upload" class="btn btn-success btn-block">
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js scripts (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
